# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# build
PyGIP.egg-info/
dist/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
.AppleDouble
.LSOverride

#virtual environments folder
.venv
__pycache__/
*.pyc
*.pt
*.pth
*.tgz
*.tar.gz
*.csv
results_*/
results*/
runs/
.logs/
.env
.venv
.ipynb_checkpoints/
